
backend/__pycache__/
backend/routes/__pycache__/
backend/parsing_pipeline/__pycache__/
backend/smart_student_search/__pycache__/
backend/venv/

backend/.env
frontend/.env

frontend/node_modules/
frontend/dist/

backend/uploads/
backend/chroma_db/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

*.log
backend/error.txt