fastapi
uvicorn
python-multipart
langchain
langchain-google-genai
sqlalchemy
pypdf
python-docx
python-dotenv
psycopg2-binary
chromadb
langchain-groq
numpy
celery
redis
fastapi-limiter
httpx
pyrate-limiter

